.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.logo span {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
}
.p-button-sm {
  background-color: var(--background-color);
  border: 2px solid #fff;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
  }
  .logo span {
    display: none;
  }
}
