.form {
  width: 230px;
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
  box-shadow: 1px 5px 9px rgba(211, 211, 211, 0.7);
}

.error-input {
  color: var(--error-color);
  font-size: 10px;
  padding: 0;
  margin-bottom: 5px;
}
.p-button {
  margin-top: 5px;
  width: 100%;
}
