<p-toast />
<div class="parent">
  <div class="card">
    <h2>Login</h2>

    <form class="form">
      <input
        name="username"
        [(ngModel)]="userData.username"
        type="text"
        placeholder="username"
        class="username"
        autocomplete="username"
      />
      <input
        name="password"
        [(ngModel)]="userData.password"
        type="password"
        placeholder="password"
        class="pass"
        autocomplete="current-password"
      />
    </form>
    <p-button
      label="Login"
      type="button"
      icon="pi pi-user"
      (click)="onLogin()"
    ></p-button>

    <div class="footer_card">
      <p>Not a member?</p>
      <a [routerLink]="['/register']">Singn up now</a>
    </div>
  </div>
</div>
