.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  font-family: "Roboto Mono", sans-serif;
  width: max-content;
  width: 300px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  color: #a0a6a3;
  box-shadow: 1px 5px 9px rgba(211, 211, 211, 0.7);
}

.form input.username {
  margin-bottom: 15px;
}

.form input.pass {
  margin-bottom: 5px;
}

.footer_card {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer_card a {
  font-size: 14px;
  text-decoration: underline;
  color: #5881d0;
}

@media screen and (max-width: 450px) {
  .card {
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
  }
}
