@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

:root {
  --background-color: #50b498;
  --footer-text-color: #5881d0;
  --error-color: #ff0000;
  --input-border-color: #dddddd;
  --border-color: #ff7777;
  --input-text-color: #a0a6a3;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scroll-rows {
  overflow-y: scroll;
  height: 300px;
}

// tables styles
.table-container {
  width: 75%;
  margin: 20px auto;
}

.p-datatable {
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid var(--border-color);
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-header h2 {
  margin: 0;
}

.p-button-sm {
  padding: 8px;
}


.button-combination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.row td,
.row th {
  padding: 8px;
  overflow: hidden;
}

//popup styles

.form-group {
  margin-bottom: 20px;
}

.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 200px;
  padding: 10px;
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}
.message {
  margin-top: 0;
  font-size: 12px;
  color: var(--error-color);
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  width: 90px;
  font-size: 14px;
  border-radius: 4px;
}

.p-multiselect {
  width: 200px;
}
.p-dropdown {
  width: 200px;
}

// login and register page
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: max-content;
  width: 300px;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.footer_card {
  font-size: 14px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer_card a {
  font-size: 14px;
  text-decoration: underline;
  color: val(--footer-text-color);
}

@media screen and (max-width: 500px) {
  .table-container {
    width: 95%;
  }
}
@media screen and (max-width: 450px) {
  .card {
    width: auto;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
  }
}
