<button
  pButton
  [icon]="icon"
  [severity]="severity"
  class="p-button-sm"
  (click)="handleClick()"
></button>

<p-dialog
  [header]="header"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <form [formGroup]="productForm" class="my-form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
      />
    </div>
    <div class="form-group" *ngIf="showDropDown">
      <p-dropdown
        formControlName="type"
        [options]="types"
        optionLabel="type"
        placeholder="Select a Type"
      />
    </div>
    <div class="form-group">
      <label for="weight">Weight:</label>
      <input
        type="number"
        id="weight"
        formControlName="weight"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input
        type="number"
        id="price"
        formControlName="price"
        class="form-control"
      />
    </div>
    <div class="form-group" *ngIf="showDropDown">
      <p-multiSelect
        formControlName="materials"
        [options]="materials"
        optionLabel="type"
        placeholder="Select Products"
      />
    </div>

    <div class="form-group btn-group">
      <button
        pButton
        label="Cancel"
        class="btn"
        severity="secondary"
        (click)="handleClick()"
      ></button>
      <button
        pButton
        label="Confirm"
        class="btn"
        (click)="onConfirm()"
        [disabled]="!productForm.valid"
      ></button>
    </div>
  </form>
</p-dialog>
